@model IEnumerable<Player>
@{
ViewBag.Title = "All Player";
Layout = "_AdminLayout ";
}
<table class="table table-striped table-bordered table-sm">
		<tr>
		<th class="text-right">ID</th>
		<th>Name</th>
		<th class="text-right">Position</th>
		<th class="text-right">RedCard</th>
		<th class="text-right">TeamId</th>
		<th class="text-center">Actions</th>
		@foreach (var item in Model)
		{
			<tr>
				<td class="text-right">@item.Id</td>
				<td>@item.Name</td>
				<td class="text-right">@item.Position</td>
				<td class="text-right">@item.RedCard</td>
				<td class="text-right">@item.TeamId</td>


				<td class="text-center">
					<form asp-action="Delete" method="post">
						<a asp-action="Edit " class="btn btn-sm btn-warning"
						asp-route-playerId="@item.Id">Edit</a>



						<input type="hidden" name="PlayerID" value="@item.Id"/>


						<button type="submit" class="btn btn-danger btn-sm">
							Delete
						</button>
					</form>
				</td>
			</tr>
		}
</table>


<div class="text-center ">
<a asp-action="Create" class="btn btn-primary">Add Player</a>
</div>