<div class="card card-outline-primary m-1 p-l">
<div class="bg-faded p-l">
<h4>
@Model.Id  @Model.Name
<span class="badge badge-pill badge-primary" style="float:right">
<small>@Model.Position</small>
</span>
</h4>
</div>
<div class= "card-text p-l">@Model.RedCard
@Model.TeamId</div>
</div>


<div>
</div>