
@*<div class="bg-faded p-l">
<h4>
@Model.Id  @Model.Name
<span class="badge badge-pill badge-primary" style="float:right">
<small>@Model.Position</small>
</span>
</h4>
</div>
<div class= "card-text p-l">RedCard: @Model.RedCard*@
@*@Model.TeamId</div>*@

@*@foreach ( Football_manager.Models.Player p in Model) {
*@
<td>@Model.Id</td>
<td>@Model.Name</td>
<td>@Model.Position</td>
<td>@Model.RedCard</td>


@*@model IEnumerable<Player>
@foreach (var p in Model) {
<td>@p.Id</td>
<td>@p.Name</td>
<td>@p.Position</td>
<td>@p.RedCard</td>*@




@*}<tr></tr>
*@

@*
<div>
</div>*@
@*Players.
*@