@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@model IEnumerable<Phone>
@foreach (var p in Model) {
<div>
<h3>@p.Id</h3>
@p.Name
<h4>@p.Company.ToString()</h4>
</div>
}*@

@model IEnumerable<Player>
@foreach (var p in Model) {
<div>

@p.Id
@p.Name
@p.Position
@p.RedCard
@p.TeamId
</div>
}