@model PlayersListViewModel

<div class="panel-body">
<h2>Here is the list of players</h2>


<table class="table table-sm table-striped table-bordered">
<thead>
<tr>
<th>Team</th>
<th>Id</th>

<th>Name</th>
<th>Position</th>
<th>RedCard</th>
</tr>
</thead>
<tbody>
@foreach (var p in Model.Players) {
@*<div class="card card-outline-primary m-1 p-l"></div>*@
<tr><td>@Model.Teams.ToList().Find(x => x.Id==p.TeamId).Name</td>
@Html.Partial("PlayerSummary", p)
</tr>


}</tbody>
</table>
</div>
<div page-model="@Model.Paginginfo" page-action="List" page-classes-enabled="true"
page-class="btn" page-class-normal="btn-secondary"
page-class-selected="btn-primary" page-class-selected="btn-primary" page-url-category="@Model.CurrentTeam"
class="btn-group pull-right m-l">

</div>

@*@foreach (var p in Model) {p.TeamId.Id.Contains(" ")
<div>IEnumerable<Player>Async

@p.Id
@p.Name
@p.Position

</div>
}
@*

@foreach(var thisLink in Model)
{
<div>





<h3>@thisLink.Name</h3>
</div>
}





<h3>@p.Position</h3>
<h3>@p.TeamId</h3>(int)
<h3>@p.RedCard</h3>
<h3>@p.Id</h3>

@model IEnumerable<Phone>
@foreach (var p in Model) {
<div>
<h3>@p.Id</h3>
@p.Name
<h4>@p.Company.ToString()</h4>
</div>
}*@