@model PlayersListViewModel
@foreach (var p in Model.Players) {
<div>
<h3>@p.Id  @p.Name</h3><h4>@p.Position</h4>


@p.RedCard
@p.TeamId
</div>
}
<div page-model="@Model.Paginginfo" page-action= "List"></div>


@*@foreach (var p in Model) {
<div>IEnumerable<Player>

@p.Id
@p.Name
@p.Position

</div>
}
@*

@foreach(var thisLink in Model)
{
<div>





<h3>@thisLink.Name</h3>
</div>
}





<h3>@p.Position</h3>
<h3>@p.TeamId</h3>(int)
<h3>@p.RedCard</h3>
<h3>@p.Id</h3>

@model IEnumerable<Phone>
@foreach (var p in Model) {
<div>
<h3>@p.Id</h3>
@p.Name
<h4>@p.Company.ToString()</h4>
</div>
}*@